[submodule "KMC"]
	path = KMC
	url = git@github.com:refresh-bio/KMC.git
[submodule "stxxl"]
	path = stxxl
	url = http://github.com/stxxl/stxxl.git
[submodule "CLI11"]
	path = CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "yas"]
	path = yas
	url = git@github.com:niXman/yas.git
[submodule "cereal"]
	path = cereal
	url = git@github.com:USCiLab/cereal.git
