build/
csv_results/
hdf5_results/
images/
.vscode/
build-debug/
cmake-build-debug/
cmake-build-release/
tmp/
**.log
**.errlog
**.kmc_pre
**.kmc_suf
**.bintree
*.sif
data/
**.pdf
**.svg
**.png
*.DS_Store
**.data